@use '../../../styles.scss' as *;

:host {
  // Explicación: Crecer | Encoger | Tamaño inicial
  flex: 1 1 0px;
  display: flex;
  min-width: 200px; // Evita que se vuelvan demasiado delgadas e ilegibles
}

.card-summary {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  background-color: $white;
  box-shadow: $shadow;
  border-radius: 12px;
  padding: 16px;
  flex: 1;
  cursor: pointer;
  border: 1px solid transparent;

  // Añadimos color a la transición para que el texto también cambie suave
  transition: transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;

  img {
    width: 62px;
    height: 62px;
    object-fit: contain;
    transition: filter 0.3s ease; // Transición suave para el color del icono
  }

  // Estilos del texto
  .card-summary-content-title {
    font-weight: bold;
    color: $primary; // O el color que tengas por defecto
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: $primary;
    border-color: rgba($primary, 0.1);

    // 1. Cambia el color del SVG a blanco (usando filtros)
    img {
      filter: brightness(0) invert(1);
    }

    // 2. Cambia el color de todos los textos dentro de la card a blanco
    .card-summary-content-title,
    span,
    p,
    h1 {
      color: white;
    }
  }
}

.card-summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .card-summary-content-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222;
  }

  .card-summary-content-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary;
  }

  .card-summary-content-data {
    font-size: 1rem;
    font-weight: 500;
    color: #444;
  }

}
