@use '../../../styles.scss' as *;

.actions-button {
  // 1. Estilos estructurales
  border: none;
  padding: 8px 24px;
  line-height: 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;

  // 2. Transiciones
  transition: transform 0.2s ease, filter 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;

  &-primary { background-color: $primary; color: white; }
  &-secondary { background-color: $secondary; color: #000; }
  &-tertiary { background-color: $tertiary; color: #333; border: 1px solid #ddd; }
  &-success { background-color: $success; color: white; }
  &-danger { background-color: $danger; color: white; }

  // 3. Estado Disabled (Nativo y Clase)
  // Lo ponemos antes del hover para que el hover no afecte si está disabled
  &:disabled, 
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5; // Se vuelve translúcido
    filter: grayscale(0.6); // Pierde saturación para verse "apagado"
    pointer-events: none; // Evita cualquier interacción
    transform: none !important; // Evita que se mueva hacia arriba
  }

  // 4. Hover (Solo si NO está disabled)
  &:not(:disabled):not(.is-disabled):hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
  }

  // Iconos
  .white-icon { filter: invert(1); }
  .back-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.margin-left { margin-left: 16px; }
.margin-right { margin-right: 16px; }