@use '../../../styles.scss' as *;

.graficos-page {
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px;
  background-color: $background;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row; // Los pone en fila
  justify-content: space-between; // Uno a la izquierda, otro a la derecha
  align-items: flex-end; // Alinea ambos bloques por la parte de abajo
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Opcional: una línea sutil separadora

  .header-left {
    h1 {
      margin: 0;
      font-size: 2rem;
      color: #000;
      line-height: 1.2;
    }

    p {
      margin: 4px 0 0;
      color: #666;
      font-size: 1.1rem;
    }
  }

  .header-right {
    text-align: right;

    .date {
      font-size: 1.4rem;
      font-weight: 600;
      color: #333;
      margin: 0;
    }

    .time {
      font-size: 1.1rem; // Un poco más pequeña que la fecha
      font-weight: 400; // Menos grosor para que no compita
      color: $primary; // Mantenemos el rojo para darle el toque de identidad
      margin-top: -2px; // Pegamos un poquito más a la fecha
    }
  }
}

.actions {
  display: flex;
  gap: 16px;

  .actions-button {
    background-color: $primary;
    color: white;
    border: none;
    padding: 8px 24px;
    line-height: 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &-secondary {
      background-color: #8dc5e6;
      color: #000;
    }

    &:hover {
      filter: brightness(1.1);
      transform: translateY(-2px);
    }

    .white-icon {
      filter: invert(1);
    }
    .back-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}

.chart-wrapper {
  display: block;
  height: 400px; // O la altura que desees para tu dashboard
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
